<div class="top-header" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <div fxFlex fxLayoutAlign="center">
        <h2>Tablón de anuncios</h2>
    </div>
</div>

<div fxLayout="column" class="adverts">
    <mat-form-field>
      <mat-label>Buscar Anuncios</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar anuncio" #input>
    </mat-form-field>
    
    <mat-paginator #paginator
    [pageSize]="pageSize"
    [length]="dataSource.data.length" 
    pageIndex="1" 
    [pageSizeOptions]="[5, 10, 25, 100]"  
    showFirstLastButtons
    (page)="onPageChanged($event)"
    aria-label="Seleccionar página de la lista de anuncios"></mat-paginator>
    <table mat-table matSort [dataSource]="dataSource" aria-label="tabla de anuncios" class="mat-elevation-z8">
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por nombre"> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.cardName}} </td>
      </ng-container>
    
      <!-- Collection Column -->
      <ng-container matColumnDef="collection">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por colección"> Colección </th>
        <td mat-cell *matCellDef="let element"> {{element.collectionName}} </td>
      </ng-container>
    
      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por estado"> Estado </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.state == 'NUEVO'" class="nuevo"><b>{{element.state}}</b></span>
          <span *ngIf="element.state == 'SEMINUEVO'" class="seminuevo"><b>{{element.state}}</b></span>
          <span *ngIf="element.state == 'USADO'" class="usado"><b>{{element.state}}</b></span>
          <span *ngIf="element.state == 'ROTO'" class="roto"><b>{{element.state}}</b></span>
        </td>
      </ng-container>
  
      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por cantidad"> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por fecha"> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate | date:"dd/MM/yyyy - hh:mm a"}} </td>
      </ng-container>
      
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Ordenar por precio"> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} €</td>
      </ng-container>

      <!-- GoTo Advert Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Detalles del Anuncio </th>
        <td mat-cell *matCellDef="let element"> <button [routerLink]="['/advertdetails', element.advertId]">Ver Detalles</button></td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element"> <button (click)="deleteAdvert(element.advertId)">Eliminar</button></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="!input.value" class="mat-cell" colspan="8">No hay anuncios o no se han podido cargar.</td>
        <td *ngIf="input.value " class="mat-cell" colspan="8">No se han encontrado anuncios con la información buscada. "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <br><br>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <button class="go-back" mat-button (click)="goBack()" routerLinkActive="router-link-active">ATRÁS</button>
  </div>

<br><br>