$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

.adverts{
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;

     td:hover{
        cursor: pointer;
        background-color:azure;
    }

    button {
        padding: 5px;
        background-color: $background-light;
        border-radius: 5px;
        border: none;
    }
}