$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

.adverts{
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;

     td:hover{
        cursor: pointer;
        background-color:azure;
    }

    button {
        padding: 5px;
        background-color: $background-light;
        border-radius: 5px;
        border: none;
    }

    .nuevo {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(87, 243, 87);
    }
    .seminuevo {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(250, 237, 54);
    }
    .usado {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(255, 166, 33);
    }
    .roto {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(221, 72, 72);
    }
}

.go-back {
    width: 100px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
}
.go-back:hover {
    background-color: mix($background-dark, black, 80%);
    color: white;
    font-weight: bold;
}

.go-back:active {
    background-color: mix($background-dark, black, 70%);
    font-weight: bold;
}