<br>
<div class="container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center start">
        <h1><b><u>Recuperación de contraseña</u></b></h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <p>Introduce tu correo electrónico y te mandamos un correo con un código de seguridad para verificar que eres tú.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <form novalidate [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
            <mat-form-field>
                <input matInput [formControl]="emailValidation" placeholder="Correo electrónico" type="text" name="email">
                <mat-error *ngIf="this.sendEmailForm.get('email')?.errors?.['required']">Email requerido.</mat-error>
                <mat-error *ngIf="this.sendEmailForm.get('email')?.errors?.['email']">Formato incorrecto.</mat-error>
            </mat-form-field>
            &nbsp;
            <button class="cancel" class="submit-button shake-horizontal" type="submit" [disabled]="sendEmailForm.invalid" mat-button>Enviar Correo</button>
        </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" *ngIf="code != undefined">
        <form novalidate [formGroup]="checkCodeForm" (ngSubmit)="checkCode()">
            <mat-form-field>
                <input matInput [formControl]="codeValidation" placeholder="Código de recuperación" type="text" name="code">
                <mat-error *ngIf="this.checkCodeForm.get('code')?.errors?.['required']">Código requerido.</mat-error>
            </mat-form-field>
            &nbsp;
            <button class="cancel" class="submit-button shake-horizontal" type="submit" [disabled]="checkCodeForm.invalid" mat-button>Enviar Código</button>
        </form>
    </div>
    <br>
    <br>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <button class="go-back" mat-button (click)="goBack()" routerLinkActive="router-link-active">ATRÁS</button>
    </div>
</div>

