$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.content {
    margin-top: 20px;

    button {
        width: auto;
        background-color: $background-dark;
        color: white;
        padding: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: mix($background-dark, black, 80%);
        }

        &:active {
            background-color: mix($background-dark, black, 70%);
        }
    }

    #green{color: rgb(87, 243, 87);}
    #red {color:rgb(221, 72, 72);}

    .completion-grid{
        height: 15px;
        line-height: 15px;
        width: 15px;
        border-radius: 3px;
        margin: 2px;
        font-size: xx-small;
        text-align: center;
        overflow: hidden;

        .yes {
            background-color: rgb(87, 243, 87);
            color: black;
            cursor: pointer;
        }

        .no {
            background-color: rgb(221, 72, 72);
            color: white;
        }
    }
}

#cancel:hover {
    background-color: rgb(255, 86, 86);
    color: white;
    font-weight: bold;
}

#cancel:active {
    background-color: mix(rgb(255, 86, 86), black, 80%);
    color: white;
    font-weight: bold;
}

.collection-image {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.element-list {
    margin-top: 20px;
}

.has-advert {
    background-color: rgb(188, 201, 226);
}

.collection-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    min-height: 400px;
  }
  
.collection-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.collection-card-title {
    font-size: 28px;
    margin: 0;
}

.collection-card-state {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.collection-card-state.NUEVO {
    background-color: green;
}
  
.collection-card-state.SEMINUEVO {
    background-color: yellow;
    color: black;
}

.collection-card-state.USADO {
    background-color: orange;
}

.collection-card-state.ROTO {
    background-color: red;
}

.collection-card-body {
    flex: 1;
}

.collection-card-name {
    font-size: 24px;
    margin-top: 0;
}
  
.collection-card-description {
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.collection-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-card-quantity-label {
    font-weight: bold;
    margin-right: 5px;
}

.collection-card-price-label {
    font-weight: bold;
    margin-right: 5px;
}

.collection-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.collection-card-actions button {
    width: auto;
    border-radius: 5px;
    margin: 2px;
    background-color: $background-dark;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;

    &:hover {
        background-color: mix($background-dark, black, 80%);
    }

    &:active {
        background-color: mix($background-dark, black, 70%);
    }
}

.full-height{
    line-height: 33px;
}

.text-container {
    display: -webkit-box; /* Utiliza un layout tipo caja */
    -webkit-box-orient: vertical; /* Establece la orientación vertical */
    overflow: hidden; /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos al final del texto oculto */
    -webkit-line-clamp: 7; /* Limita el número de líneas */
    max-height: 10.5em; /* Establece la altura máxima */

    &:active {
        max-height: none;
        -webkit-line-clamp: unset;
        text-overflow: unset;
    }
}

.title-container {
    display: -webkit-box; /* Utiliza un layout tipo caja */
    -webkit-box-orient: vertical; /* Establece la orientación vertical */
    overflow: hidden; /* Oculta el texto que sobresale del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos al final del texto oculto */
    -webkit-line-clamp: 2; /* Limita el número de líneas */
    max-height: 3em; /* Establece la altura máxima */

    &:active {
        max-height: none;
        -webkit-line-clamp: unset;
        text-overflow: unset;
    }
}

.collection-card:active {
    height: auto;
}

.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $background-dark;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
    transition: opacity 0.2s;
    
    &:hover {
        background-color: mix($background-dark, black, 80%);
    }

    &:active {
        background-color: mix($background-dark, black, 70%);
    }
    
    &:focus {
      outline: none;
    }
}

.add-element-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: $background-dark;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999;
    transition: opacity 0.2s;
    
    &:hover {
      background-color: mix($background-dark, black, 80%);
    }

    &:active {
        background-color: mix($background-dark, black, 70%);
    }
    
    &:focus {
      outline: none;
    }
}



// animación de seing para las cartas
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-9 20:54:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  