<div class="content" fxLayout="row" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayout.xs="column"
    fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px">
    <div fxFlex="40%" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <img class="collection-image" src={{collection?.image}} alt="profile-pic" fxLayoutAlign="center">
        </div>
        <div fxFlex="2"></div>
        <div fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px">
            <button mat-button (click)="addElement()" routerLinkActive="router-link-active">Añadir Elemento</button>
            <button [routerLink]="['/adverts']">Ver tus anuncios</button>
            <button mat-button (click)="goBack()" routerLinkActive="router-link-active">Atrás</button>
        </div>
    </div>
    <div fxFlex="60" fxLayout="column">
        <br>
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="80">
            <h2><b>{{collection?.name}}</b></h2>
            <p>{{collection?.description}}</p>
            <br>
            <p><b>Total de elementos en la colección: </b>{{collection?.size}}</p>
            <p><b>Total de elementos reunídos:  <span id="green">{{completed}}</span> / <span id="red">{{collection?.size}}</span></b></p>
            <p><b>Faltan: </b> {{ missing }}, completado al <b>{{percentage}}%</b></p>
            <p><b>Valor de la colección: </b>{{value}} €</p>
        </div>
        <div fxLayout="row wrap">
          <div *ngFor="let item of cardList; let i=index"  class="completion-grid" style="border: 1px solid black">
            <div class="yes" id="ihaveit" *ngIf="item == 1" (click)="scroll(i+1)">
              {{i+1}}
            </div>
            <div class="no" id="idonothaveit" *ngIf="item == 0">
              {{i+1}}
            </div>
          </div>
        </div>
        <br>
    </div>
</div>
<div fxLayout="row">
  <div fxFlex="row"  fxFlexAlign="center">
    <br>
    <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner><br><h4>Cargando...</h4>
    </div>
  </div>
</div>

<div class="element-list">
  <div fxLayout="column" >

    <div fxLayoutAlign="center start">
      <h2><b><u>Elementos Adquiridos</u></b></h2>
    </div>

    <div  fxLayout="row wrap" fxLayoutAlign="center">
      <div fxLayoutAlign="center start" fxFlex.gt-xs="50%" fxFlex.gt-sm="33.33%" fxFlex.gt-md="25%" fxFlex="100%" *ngFor="let card of cards">
            
        <div *ngIf="!adverts.includes(card._id!)" class="collection-card" id={{card.cardId}}>
            <div class="collection-card-header">
            <h2 class="collection-card-title">#{{card.cardId}}</h2>
            <div class="collection-card-state {{card.state}}">{{card.state}}</div>
            </div>
            <div class="collection-card-body">
            <h2 class="collection-card-name title-container">{{card.name}}</h2>
            <p class="collection-card-description donotoverflow text-container">{{card.description}}</p>
            </div>
            <div class="collection-card-footer">
              <div>
                <div class="collection-card-quantity">
                  <span class="collection-card-quantity-label">Cantidad:</span> {{card.quantity}}
                </div>
                <div class="collection-card-price">
                  <span class="collection-card-price-label">Precio:</span> {{card.price}}€
                </div>
              </div>
              <div class="collection-card-actions">
                <div>
                  
                  <button (click)="updateElement(card)">Actualizar coleccionable</button>
                  <button (click)="deleteElement(card)">Eliminar coleccionable</button>
                </div>
                <div>
                  <button class="full-height" *ngIf="!adverts.includes(card._id!)" (click)="createAdvert(card)">Crear Anuncio</button>
                </div>
              </div>
            </div>
        </div>

        <div *ngIf="adverts.includes(card._id!)" class="collection-card has-advert" id={{card.cardId}}>
          <div class="collection-card-header">
          <h2 class="collection-card-title">#{{card.cardId}} - EN VENTA</h2>
          <div class="collection-card-state {{card.state}}">{{card.state}}</div>
          </div>
          <div class="collection-card-body">
          <h2 class="collection-card-name title-container">{{card.name}}</h2>
          <p class="collection-card-description donotoverflow text-container">{{card.description}}</p>
          </div>
          <div class="collection-card-footer">
            <div>
              <div class="collection-card-quantity">
                <span class="collection-card-quantity-label">Cantidad:</span> {{card.quantity}}
              </div>
              <div class="collection-card-price">
                <span class="collection-card-price-label">Precio:</span> {{card.price}}€
              </div>
            </div>
            <div class="collection-card-actions">
                <button *ngIf="adverts.includes(card._id!)" (click)="gotoAdvert(card)">Detalles de Anuncio</button>
                <button *ngIf="adverts.includes(card._id!)" (click)="deleteAdvert(card)">Eliminar anuncio</button>
            </div>
          </div>
      </div>
        
      </div>
    </div>

  </div>
</div>

<button class="scroll-top-button" (click)="scrollToTop()">
  <i class="fa fa-arrow-up"></i>
</button>

<br>
<br>