<div class="content" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutGap="10px">
    <div fxFlex="40%" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <img class="collection-image" src={{collection?.image}} alt="profile-pic" fxLayoutAlign="center">
        </div>
        <div fxFlex="2"></div>
        <div fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px">
            <button mat-button [routerLink]="['/addelement']" routerLinkActive="router-link-active">HACER ALGO</button>
            <button mat-button (click)="goBack()" routerLinkActive="router-link-active">Atrás</button>
        </div>
    </div>
    <div fxFlex="60" fxLayout="column">
        <br>
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="80">
            <h2><b>{{collection?.name}}</b></h2>
            <p>{{collection?.description}}</p>
            <br>
            <p><b>Total de elementos en la colección: </b>{{collection?.size}}</p>
            <p><b>Total de elementos reunídos:  <span id="green">{{completed}}</span> / <span id="red">{{collection?.size}}</span></b></p>
            <p><b>Faltan: </b> {{ missing }}</p>
        </div>
        <br>
    </div>
</div>

<div class="element-list" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div fxFlex="auto" fxLayoutAlign="center start">
        <h2><b><u>Elementos</u></b></h2>
    </div>
</div>
<!-- Grid de colecciones -->
<section>
<!-- Grid de colecciones -->
<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let card of cardList; let i=index">

            <mat-card class="scale-in-center" fxLayout="row" *ngIf="cardList[i] == 1">
                <mat-card-header>
                    <mat-card-title><mat-checkbox></mat-checkbox></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>


        <mat-card class="scale-in-center" fxLayout="row" *ngIf="cardList[i] != 1">
            <mat-card-header>
                <mat-card-title>NO EXISTE</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

    </div>
</div>
</section>
<br><br>