<div class="content" fxLayout="row" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayout.xs="column"
    fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px">
    <div fxFlex="40%" fxLayout="row" fxLayoutAlign="center center">
        <div>
            <img class="collection-image" src={{collection?.image}} alt="profile-pic" fxLayoutAlign="center">
        </div>
        <div fxFlex="2"></div>
        <div fxLayoutAlign="center" fxLayout="column" fxLayoutGap="10px">
            <button mat-button (click)="addElement()" routerLinkActive="router-link-active">Añadir Elemento</button>
            <button mat-button (click)="goBack()" routerLinkActive="router-link-active">Atrás</button>
        </div>
    </div>
    <div fxFlex="60" fxLayout="column">
        <br>
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="80">
            <h2><b>{{collection?.name}}</b></h2>
            <p>{{collection?.description}}</p>
            <br>
            <p><b>Total de elementos en la colección: </b>{{collection?.size}}</p>
            <p><b>Total de elementos reunídos:  <span id="green">{{completed}}</span> / <span id="red">{{collection?.size}}</span></b></p>
            <p><b>Faltan: </b> {{ missing }}, completado al <b>{{percentage}}%</b></p>
        </div>
        <div fxLayout="row wrap">
          <div *ngFor="let item of cardList; let i=index"  class="completion-grid" style="border: 1px solid black">
            <div class="yes" id="ihaveit" *ngIf="item == 1" (click)="scroll(i+1)">
              {{i+1}}
            </div>
            <div class="no" id="idonothaveit" *ngIf="item == 0">
              {{i+1}}
            </div>
          </div>
        </div>
        <br>
    </div>
</div>

<div class="element-list" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div fxFlex.gt-md="auto" fxFlex.lt-md="100" fxLayoutAlign="center start">
      <div fxLayout="column">
        <div fxLayoutAlign="center start">
            <h2><b><u>Elementos Adquiridos</u></b></h2>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center">
          <div fxFlex.lt-sm="100%" fxFlex.sm="100%" fxFlex.gt-sm="50%" *ngFor="let card of cards let i=index">
            <mat-card fxLayout.gt-sm="row" fxFlex="100%" fxLayout.lt-sm="column" id={{card.cardId}}>
              <div fxFlex="auto">
                <mat-card-header fxLayoutAlign.lt-md="center start">
                  <mat-card-title class="identifier">#{{card.cardId}}</mat-card-title>
                </mat-card-header>
              </div>
              <div fxFlex="auto">
                <mat-card-content fxLayoutAlign.lt-md="center start" fxLayoutAlign.gt-md="start start">
                  <div fxLayout="column">
                    <h2>{{card.name}}</h2>
                    <p>{{card.description}}</p>
                    <p>
                      <span *ngIf="card.quantity != 0" class="quantity"><b>{{card.quantity}} pcs</b></span>

                      <span *ngIf="card.state == 'NUEVO'" class="nuevo"><b>{{card.state}}</b></span>
                      <span *ngIf="card.state == 'SEMINUEVO'" class="seminuevo"><b>{{card.state}}</b></span>
                      <span *ngIf="card.state == 'USADO'" class="usado"><b>{{card.state}}</b></span>
                      <span *ngIf="card.state == 'ROTO'" class="roto"><b>{{card.state}}</b></span>
                      
                      <span *ngIf="card.price != 0" class="price">
                        {{card.price}}€
                      </span>
                    </p>
                  </div>
                </mat-card-content>
              </div>
              <div fxFlex="auto" fxLayoutAlign="center center">
                <mat-card-actions fxLayoutAlign.lt-md="center start">
                  <div fxLayout.gt-sm="column" fxLayout.lt-sm="row" fxLayout.sm="row">
                    <button (click)="createAdvert(card)">Crear Anuncio</button>
                    <button (click)="deleteElement(card)">Eliminar</button>
                  </div>
                </mat-card-actions>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
</div>
<br><br>