$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.wraper {
    padding: 20px;
    min-height: 100px;
    button {
        border-radius: 10px;
    }

}
