$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;
$header-table-background: rgb(170, 202, 228);
$data-table-background: rgb(200, 237, 241);

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
}

.left-details {
    text-align: center;

    img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 10px;
    }

    button {
        width: 200px;
        background-color: $background-dark;
        color: white;
        padding: 10px;
        margin-bottom: 5px;
        font-weight: bold;
        border-radius: 10px;
    }
    button:hover {
        background-color: mix($background-dark, black, 80%);
        font-weight: bold;
    }
    button:active {
        background-color: mix($background-dark, black, 70%);
        font-weight: bold;
    }

    .seller{
        background-color: rgb(255, 86, 86);

        &:hover {
            background-color: mix(rgb(255, 86, 86), black, $weight: 80%);
        }
        &:active {
            background-color: mix(rgb(255, 86, 86), black, $weight: 70%);
        }
    }
}

.right-details {
    vertical-align:middle;

    table {
        border: 3px solid $header-table-background;
        width: 100%;

        #tabletitle {
            text-align: center;
        }

        th {
            background-color: $header-table-background;
            padding: 10px;
            text-align: left;
            width: 40%;
        }
        td {
            padding-left: 5%;
        }
        .td-grey {
            background-color: $data-table-background;
        }
    }
}

.container{
    box-shadow: 2px 10px 10px rgba(0,0,0,0.2);
    padding: 10px;
    margin: 20px;
}

.description {
    white-space: pre-wrap;
}