<div class="top-header" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <div>
        <h2>Detalles del anuncio</h2>
    </div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center start" 
fxLayoutGap="10px">
    <div class="left-details" fxFlex="30%" fxFlex.lt-sm="100%">
        <div class="container">
            <h2>Colección: {{collection?.name}}</h2>
            <img src={{collection?.image}} alt={{collection?.name}}>
            <div>
                <button mat-button [routerLink]="['/collectiondetails',collection?._id]">Información de la colección a la que pertenece</button>
            </div>
        </div>
        <div *ngIf="loggedIn && currentUser != seller?.username">
            <button (click)="sendEmail()">Ponerse en contacto</button>
        </div>
    </div>

    <div fxFlex="70%" fxFlex.lt-sm="100%" class="container right-details">
        <table aria-label="Información de la colección">
            <tr>
                <th scope="col" colspan="2" id="tabletitle">Datos del anuncio</th>
            </tr>
            <tr>
                <th scope="row">Nombre del elemento:</th>
                <td>{{card?.name}}</td>
            </tr>
            <tr>
                <th scope="row">Descripción del elemento:</th>
                <td class="td-grey description">{{card?.description}}</td>
            </tr>
            <tr>
                <th scope="row">Número de elemento dentro de la colección:</th>
                <td>{{card?.cardId}}</td>
            </tr>
            <tr>
                <th scope="row">Cantidad ofertada:</th>
                <td class="td-grey">{{advert?.quantity}}</td>
            </tr>
            <tr>
                <th scope="row" *ngIf="advert?.quantity == 1">Estado del elemento:</th>
                <th scope="row" *ngIf="advert?.quantity! > 1">Estado de los elementos:</th>
                <td *ngIf="card?.state == 'NUEVO'"><span class="nuevo">{{card?.state}}</span></td>
                <td *ngIf="card?.state == 'SEMINUEVO'"><span class="seminuevo">{{card?.state}}</span></td>
                <td *ngIf="card?.state == 'USADO'"><span class="usado">{{card?.state}}</span></td>
                <td *ngIf="card?.state == 'ROTO'"><span class="roto">{{card?.state}}</span></td>
            </tr>
            <tr>
                <th scope="row">Descripción del anuncio:</th>
                <td class="td-grey description">{{advert?.description}}</td>
            </tr>
            <tr>
                <th scope="row">Precio:</th>
                <td>{{advert?.price}} €</td>
            </tr>
            <tr>
                <th scope="row">Fecha de creación del anuncio:</th>
                <td class="td-grey">{{advert?.createdDate | date:"dd/MM/yyyy - hh:mm a"}}</td>
            </tr>
            <tr>
                <th scope="row">Formato</th>
                <td>{{collection?.format}}</td>
            </tr>
            <tr>
                <th scope="row">Tema</th>
                <td class="td-grey">{{collection?.theme}}</td>
            </tr>
            <tr>
                <th scope="row">Idioma</th>
                <td>{{collection?.language}}</td>
            </tr>
            <tr>
                <th scope="row">Vendedor:</th>
                <td class="td-grey">{{seller?.username}} / {{seller?.firstName}}</td>
            </tr>
            <tr *ngIf="city || province || country">
                <th scope="row">Ubicación:</th>
                <td>{{city}} / {{province}} / {{country}}</td>
            </tr>
        </table>
    </div>
</div>
<br>
<br>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <button class="go-back" mat-button (click)="goBack()" routerLinkActive="router-link-active">ATRÁS</button>
</div>
<br>