$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.container {
    margin: 3rem;
    background-color: $background-light;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    text-align: center;
}

.content {
    padding: 50px;
    
    mat-card {
        margin-bottom: 16px;
        box-shadow: 1px 1px 5px 2px rgb(99, 99, 99);
        overflow: hidden;

        mat-card-header {
            min-height: 50px;
            align-items: center;
            margin: auto;
            font-weight: bold;
            
            mat-card-title {
                text-overflow: ellipsis;
                overflow: hidden;
                height: 40px;
            }
        }

        .img-contain {
            overflow: hidden;
        }

        img {
            object-fit: cover;
/*          object-fit: scale-down;
            object-fit: contain; */
            height: 300px;
            transition: all 0.3s;
            transform: scale(1,1) rotate(0deg);
        }
        
        mat-card-actions {
            
            button {
                width: 100%;
                background-color: $background-dark;
                color: white;
                padding: 10px;
                margin-bottom: 5px;
                font-weight: bold;
                border-radius: 10px;
            }
            button:hover {
                background-color: mix($background-dark, black, 80%);
                font-weight: bold;
            }
            .button:active {
                background-color: mix($background-dark, black, 70%);
                font-weight: bold;
            }

            .delete:hover {
                background-color: rgb(255, 86, 86);
            }
            .delete:active {
                background-color: mix(rgb(255, 86, 86), black, $weight: 80%);
            }
        }
    }
    mat-card:hover img{
        transition: all 0.3s;
        transform: scale(1.1,1.1) rotate(3deg);
    }
}

.dialogbutton {
    #yes {
        background-color: $background-dark;
        color: white;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 10px;
        font-weight: bold;
        border-radius: 10px;
    }
    #yes:hover {
        background-color: mix($background-dark, black, 80%);
        color: white;
        font-weight: bold;
    }

    #yes:active {
        background-color: mix($background-dark, black, 70%);
        font-weight: bold;
    }
    #no {
        background-color: rgb(255, 86, 86);
        color: white;
        padding: 10px;
        padding-left: 13px;
        padding-right: 13px;
        font-weight: bold;
        border-radius: 10px;
    }
    #no:hover {
        background-color: mix(rgb(255, 86, 86), black, 80%);
        color: white;
        font-weight: bold;
    }

    #no:active {
        background-color: mix(rgb(255, 86, 86), black, 70%);
        font-weight: bold;
    }
}

.collection-not-found {
    text-align: center;
}

// ANIMACIONES

.scale-up-center {
	animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-6 20:14:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  