<div class="top-header" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Cromoteca</h1>
        <p> Tenemos justo lo que andas buscando.
            ¡Haz el seguimiento de tus colecciones en línea
            y olvídate de apuntarlas a mano!
            ¡Busca en nuestro mercado justo lo que te falta
            para terminar la colección!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/CromotecaLogo.png" alt="Logo" class="logo">
    </div>
    <div fxFlex></div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
    <div fxFlex="40%" fxFlex.gt-sm="100%"> 
        <h2 style="text-align: center;">Últimas noticias</h2>
    </div>
    <div fxFlex="60%" fxFlex.gt-sm="100%">
        <h3>Noticia1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
             occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
    </div>
</div>
<hr>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
    <div fxFlex="60%" fxFlex.gt-sm="100%">
        <h3>Evento1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
             occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
    </div>
    <div fxFlex="40%" fxFlex.gt-sm="100%"> 
        <h2 style="text-align: center;">Eventos</h2>
    </div>
</div>
<br>