<div class="top-header" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">

    <div fxFlex fxFlex.gt-sm="50%">
        <h1><b>Cromoteca</b></h1>
        <p> Tenemos justo lo que andas buscando.
            ¡Haz el seguimiento de tus colecciones en línea
            y olvídate de apuntarlas a mano!
            ¡Busca en nuestro mercado justo lo que te falta
            para terminar la colección!</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/CromotecaLogo.png" alt="Logo" class="logo">
    </div>
    <div fxFlex></div>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
    <div fxFlex> 
        <h1 style="text-align: center;"><u><b>Últimas noticias</b></u></h1>
        <app-news></app-news>
    </div>
</div>
<br>