$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;


@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    text-align: center;
}

.content {
    text-align: center;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.2);
}

button {
    background-color: $background-dark;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
}
button:hover {
    background-color: mix($background-dark, black, 80%);
    font-weight: bold;
}
.button:active {
    background-color: mix($background-dark, black, 70%);
    font-weight: bold;
}

.profileinfo {
    text-align: left;
    margin-left: 5%;
}