<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <div class="header" fxFlex="40%" fxFlex.gt-sm="100%">
        <br>
        <h2>Registro de nuevo usuario</h2>
        <hr>
    </div>
</div>
<br>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <br>
    <form class="form" nonvalidate [formGroup]="form" (ngSubmit)="onSubmit()">

        <div fxFlex="50" fxFlex.gt-sm="100%">

            <label for="firstname">Nombre: </label><br>
            <mat-form-field>
                <input matInput placeholder="Nombre" type="text" [formControl]="firstName"
                    name="firstName" [(ngModel)]="user.firstName">
                    <mat-error *ngIf="this.form.get('firstName')?.errors?.['required']">Nombre requerido.</mat-error>
                    <mat-error *ngIf="this.form.get('firstName')?.errors?.['minlength']">Mínimo 2 caracteres.</mat-error>
                    <mat-error *ngIf="this.form.get('firstName')?.errors?.['maxlength']">Máximo 15 caracteres.</mat-error>
            </mat-form-field>
            <br>
            <label for="lastname">Apellidos: </label><br>
            <mat-form-field>
                <input matInput placeholder="Apellidos" type="text" [formControl]="lastName"
                    name="lastname" [(ngModel)]="user.lastName">
                    <mat-error *ngIf="this.form.get('lastName')?.errors?.['minlength']">Mínimo 2 caracteres.</mat-error>
                    <mat-error *ngIf="this.form.get('lastName')?.errors?.['maxlength']">Máximo 25 caracteres.</mat-error>
            </mat-form-field>
            <br>
            <label for="username">Nombre de Usuario: </label>
            <mat-form-field>
                <input matInput placeholder="Usuario" type="text" [formControl]="username"
                    name="username" [(ngModel)]="user.username">
                    <mat-error *ngIf="this.form.get('username')?.errors?.['required']">Usuario requerido.</mat-error>
                    <mat-error *ngIf="this.form.get('username')?.errors?.['minlength']">Mínimo 3 caracteres.</mat-error>
                    <mat-error *ngIf="this.form.get('username')?.errors?.['maxlength']">Máximo 18 caracteres.</mat-error>
            </mat-form-field>

        </div>

        <div fxFlex="50" fxFlex.gt-sm="100%" fxLayout="column">

            <label for="email">Correo electrónico: </label>
            <mat-form-field>
                <input matInput placeholder="example@example.com" type="email"
                    [(ngModel)]="user.email" name="email" [formControl]="email">
                        <mat-error *ngIf="this.form.get('email')?.errors?.['required']">Email requerido.</mat-error>
                        <mat-error *ngIf="this.form.get('email')?.errors?.['email']">Formato inválido.</mat-error>
            </mat-form-field>

            <label for="password">Contraseña: </label>
            <mat-form-field>
                <input matInput placeholder="Contraseña" type="password"
                    [(ngModel)]="user.password" name="password" [formControl]="password">
                    <mat-error *ngIf="this.form.get('password')?.errors?.['required']">Contraseña requerida.</mat-error>
                    <mat-error *ngIf="this.form.get('password')?.errors?.['minlength']">Mínimo 8 caracteres.</mat-error>
                    <mat-error *ngIf="form.hasError('notSame')">Repita bien la contraseña.</mat-error>
            </mat-form-field>

            <label for="repeatpassword">Repita la Contraseña: </label>
            <mat-form-field>
                <input matInput required [errorStateMatcher]="matcher" placeholder="Contraseña" type="password"
                [formControl]="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation">
                    <mat-error *ngIf="this.form.get('passwordConfirmation')?.errors?.['required']">Es necesario repetir la contraseña.</mat-error>
                    <mat-error *ngIf="this.form.get('passwordConfirmation')?.errors?.['minlength']">Mínimo 8 caracteres.</mat-error>
                    <mat-error *ngIf="form.hasError('notSame')">Repita bien la contraseña.</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.gt-sm="100%" fxLayout="column">
            <label for="street">Dirección: </label>
            <mat-form-field>
                <input matInput placeholder="Dirección" type="text"
                    [(ngModel)]="user.address.street" name="street" [formControl]="street">
                    <mat-error *ngIf="this.form.get('street')?.errors?.['required']">Dirección requerida.</mat-error>
            </mat-form-field>
            <label for="postalCode">Código Postal: </label>
            <mat-form-field>
                <input matInput placeholder="XXXXX" type="text"
                    [(ngModel)]="user.address.postalCode" name="postalCode" [formControl]="postalCode">
                    <mat-error *ngIf="this.form.get('postalCode')?.errors?.['required']">Código postal requerido.</mat-error>
                    <mat-error *ngIf="this.form.get('postalCode')?.errors?.['pattern']">Formato inválido.</mat-error>
            </mat-form-field>

            <label for="city">Ciudad: </label>
            <mat-form-field>
                <input matInput placeholder="Ciudad" type="text"
                    [(ngModel)]="user.address.city" name="city" [formControl]="city">
                    <mat-error *ngIf="this.form.get('city')?.errors?.['required']">Ciudad requerida.</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.gt-sm="100%" fxLayout="column">
            <label for="province">Provincia: </label>
            <mat-form-field>
                <input matInput placeholder="Provincia" type="text"
                    [(ngModel)]="user.address.province" name="province" [formControl]="province">
                    <mat-error *ngIf="this.form.get('province')?.errors?.['required']">Provincia requerido.</mat-error>
            </mat-form-field>

            <label for="country">País: </label>
            <mat-form-field>
                <input matInput placeholder="País" type="text"
                    [(ngModel)]="user.address.country" name="country" [formControl]="country">
                    <mat-error *ngIf="this.form.get('country')?.errors?.['required']">País requerido.</mat-error>
            </mat-form-field>
            <br>
            <button (click)="goBack()" class="cancel-button" mat-button>Cancel</button>
            <button mat-button [disabled]="form.invalid" class="submit-button shake-horizontal" type="submit">Crear Cuenta</button>
        </div>
    </form>
</div>
<br>
<br>
