$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.container {
    margin: 3rem;
    background-color: $background-light;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}


.adverts{
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 400px;

     td:hover{
        cursor: pointer;
        background-color:azure;
    }

    .nuevo {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(87, 243, 87);
    }
    .seminuevo {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(250, 237, 54);
    }
    .usado {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(255, 166, 33);
    }
    .roto {
        margin-left: 10px;
        border-radius: 3px;
        padding: 3px;
        background-color: rgb(221, 72, 72);
    }
}

