$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.container {
    margin: 3rem;
    background-color: $background-light;
}

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.top-header {
    @include zero-margin(10px,30px);
    background: $background-light;
    color: $text-color;
    min-height: 75px;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

mat-card {
    box-shadow: 1px 1px 5px 2px rgb(99, 99, 99);
    margin: 10px 50px 0px 50px;
    mat-card-content{
      
      .repeated {
          color: white;
          background-color: $text-color;
          padding: 5px;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
      }
      .nuevo {
          margin-left: 10px;
          border-radius: 3px;
          padding: 3px;
          background-color: rgb(87, 243, 87);
      }
      .seminuevo {
          margin-left: 10px;
          border-radius: 3px;
          padding: 3px;
          background-color: rgb(250, 237, 54);
      }
      .gastado {
          margin-left: 10px;
          border-radius: 3px;
          padding: 3px;
          background-color: rgb(255, 166, 33);
      }
      .roto {
          margin-left: 10px;
          border-radius: 3px;
          padding: 3px;
          background-color: rgb(221, 72, 72);
      }
      .price {
          margin-left: 10px;
          border-radius: 3px;
          padding: 3px;
          background-color: rgb(201, 201, 201);
      }
    }
    mat-card-actions {
      button {
          width: auto;
          background-color: $background-light;
          padding: 5px;
          margin-bottom: 10px;
          font-weight: bold;
          border-radius: 5px;
      }
      button:hover {
          background-color: mix($background-light, black, 80%);
          font-weight: bold;
      }
      .button:active {
          background-color: mix($background-light, black, 70%);
          font-weight: bold;
      }
    }
  }