<mat-toolbar>
  Login
  <span class="flex-spacer"></span>
  <button class="cancel" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p>{{user | json}}</p>
<p>logintest 1234567890</p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
      <mat-form-field>
        <input matInput required #username="ngModel" placeholder="Username" type="text" [(ngModel)]="user.username"
          name="username">
        <mat-error *ngIf="username.errors">Username is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput required #password="ngModel" placeholder="Password" type="password"
          [(ngModel)]="user.password" name="password">
        <mat-error *ngIf="password.errors">Password is required.</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button class="cancel" mat-button mat-dialog-close>Cancel</button>
    <button class="accept" mat-button type="submit" class="background-primary text-floral-white"
      [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>