<mat-toolbar>
  Login
  <span class="flex-spacer"></span>
  <button class="cancel" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
      <mat-form-field>
        <input matInput required [formControl]="username" placeholder="Usuario" 
          type="text" name="username">
          <mat-error *ngIf="this.form.get('username')?.errors?.['required']">Usuario Requerido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Contraseña" type="password"
          [formControl]="password" name="password">
          <mat-error *ngIf="this.form.get('password')?.errors?.['required']">Contraseña Requerida.</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <a [routerLink]="['/passwordchange']" (click)="closeDialog()" >¿Has olvidado tu contraseña?</a>
  <mat-dialog-actions>
    <button [routerLink]="['/createaccount']" (click)="closeDialog()" type="button" class="accept">Crear Cuenta</button>
    <span class="flex-spacer"></span>
    <button class="cancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="accept" mat-button type="submit"
      [disabled]="form.invalid">Login</button>
  </mat-dialog-actions>
</form>