<mat-toolbar>
  Login
  <span class="flex-spacer"></span>
  <button class="cancel" mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
      <mat-form-field>
        <input matInput required #username="ngModel" placeholder="Username" type="text" [(ngModel)]="user.username"
          name="username">
        <mat-error *ngIf="username.errors">Usuario requerido.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput required #password="ngModel" placeholder="Password" type="password"
          [(ngModel)]="user.password" name="password">
        <mat-error *ngIf="password.errors">Contraseña requerida.</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <a [routerLink]="['/passwordchange']" (click)="closeDialog()" >¿Has olvidado tu contraseña?</a>
  <mat-dialog-actions>
    <button [routerLink]="['/createaccount']" (click)="closeDialog()" type="button" class="accept">Crear Cuenta</button>
    <span class="flex-spacer"></span>
    <button class="cancel" mat-button mat-dialog-close>Cancel</button>
    <button class="accept" mat-button type="submit"
      [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>