
$background-light: powderblue;
$background-dark: cornflowerblue;
$background: steelblue;
$text-color: midnightblue;

.toolbar {
    background: $background;
    border-radius: 0 0 15px 15;
    a {
        text-decoration: none;
        color: white;
        margin: 0 15px 0 15px;
    }
    .logo {
        height: 65px;
        width: 65px;
        margin: 5px;
    }
    .sidenav {
        text-decoration: none;
        color: white;
    }
}

.active {
    background: $background-dark;
    padding: 10px;
    border-radius: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }