<div class="navbar" [ngStyle]="{'display': isSmallScreen ? 'none' : 'block'}">
  <mat-toolbar class="toolbar">
      <span><img src="/assets/images/CromotecaLogo.png" class="logo" alt="logo"></span>
      <a mat-button [routerLink]="['/home']" routerLinkActive="active" ><span class="fa fa-home fa-lg"></span> Inicio</a>
      <a mat-button [routerLink]="['/collections']" routerLinkActive="active" ><span class="fa fa-list fa-lg"></span> Colecciones</a>
      <a mat-button [routerLink]="['/market']" routerLinkActive="active" ><span class="fa fa-shopping-cart fa-lg"></span> Mercado</a>
      <a mat-button (click)="goToProfile()" routerLinkActive="active" ><span class="fa fa-address-card fa-lg"></span> Perfil / Biblioteca</a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="active" ><span class="fa fa-info fa-lg"></span> Más Información</a>
      <span class="flex-spacer"></span>
      <a mat-button *ngIf="loggedIn == false" routerLinkActive="active" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Iniciar Sesión</a>
      <a mat-button *ngIf="loggedIn == true" routerLinkActive="active" (click)="logOut()"><span class="fa fa-sign-out fa-lg"></span> Cerrar Sesión</a>
  </mat-toolbar>
</div>

<div class="navbar" [ngStyle]="{'display': isSmallScreen ? 'block' : 'none'}">
  <mat-toolbar class="toolbar">
    <span><img src="/assets/images/CromotecaLogo.png" class="logo" alt="logo"></span>
    <span class="flex-spacer"></span>
    <!-- Botón de menú -->
    <button class="header-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Menú de navegación -->
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/home']" routerLinkActive="active-compact">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-menu-item [routerLink]="['/collections']" routerLinkActive="active-compact">
        <mat-icon>list</mat-icon>
        <span>Colecciones</span>
      </a>
      <a mat-menu-item [routerLink]="['/market']" routerLinkActive="active-compact">
        <mat-icon>shopping_cart</mat-icon>
        <span>Mercado</span>
      </a>
      <a mat-menu-item (click)="goToProfile()" routerLinkActive="active-compact">
        <mat-icon>account_box</mat-icon>
        <span>Perfil</span>
      </a>
      <a mat-menu-item [routerLink]="['/about']" routerLinkActive="active-compact">
        <mat-icon>info</mat-icon>
        <span>Más Información</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-menu-item *ngIf="loggedIn == false" routerLinkActive="active-compact" (click)="openLoginForm()">
        <mat-icon>login</mat-icon>
        <span>Iniciar Sesión</span>
      </a>
      <a mat-menu-item *ngIf="loggedIn == true" routerLinkActive="active-compact" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </a>
    </mat-menu>
  </mat-toolbar>
</div>