<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
    <div  class="header" fxFlex="40%" fxFlex.gt-sm="100%"> 
        <h2>Página de Ayuda</h2>
        <hr color="black">
    </div>
</div>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
    <div fxFlex="40%" fxFlex.gt-sm="100%">
        <div>
            <ul>
                <li><i class="fa fa-question-circle"></i><a href="./preguntas.html"> Preguntas frecuentes (FAQ)</a></li>
                <li><i class="fa fa-question-circle"></i><a href="./preguntas.html"> No encuentro una colección</a></li>
                <li><i class="fa fa-question-circle"></i><a href="./preguntas.html"> Normas</a></li>
                <li><i class="fa fa-question-circle"></i><a href="./preguntas.html"> Consejos</a></li>
                <li><i class="fa fa-question-circle"></i><a href="./preguntas.html"> Condiciones de uso y política de privacidad</a></li>
            </ul>
        </div>
    <div class="text-container" fxFlex="60%" fxFlex.gt-sm="100%"> 
        <h2>Preguntas Frecuentes</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </p>
        <hr color="black">
        <h2>No encuentro una colección</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </p>
        <hr color="black">
        <h2>Normas</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </p>
        <hr color="black">
        <h2>Consejos</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </p>
        <hr color="black">
        <h2>Condiciones de uso y política de privacidad</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit 
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum."
        </p>
        <br><br><br><br>
    </div>
</div>
